.container {
  min-height: 100vh;
  display: flex;
}

.container section {
  width: 60vw;
  margin-right: 1rem;
}

.hidden {
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls textarea {
  height: 20vh;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
}

.controlBtns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.input {
  outline: none;
  border: none;
  font-size: 2.5rem;
  width: 100%;
  padding: 5px 10px;
}

.checkbox {
  display: inline;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container section {
    width: 100%;
  }

  .container aside {
    width: 100%;
    position: relative;
  }
}